.App {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right,
    rgb(242,242,252) 0%,
    rgb(233,242,255) 70%
  );

    /* @media screen and (max-width: 281px) {
      width: 100vw;
  } */
}

